extends layout

block content
  h1= title
  p welcome to #{title}
  form(id='username_form')
    input(type='text' name='username')
    input(type='submit' name='submit')

  #problem
  #scoreboard

  script(data-main='scripts/main' src='scripts/require.js')
