extends layout

block content
  h1= title
  p welcome to #{title}
  .inputs
    form(id='username_form')
      input(type='text' name='username' placeholder='username')
      input(type='submit' name='submit' value='submit')

  #problem
  #scoreboard

  script(data-main='scripts/main' src='scripts/require.js')
